<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="AdherentSampleOven.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0,Profile=Client"/>
  </startup>
  <userSettings>
    <AdherentSampleOven.Properties.Settings>
      <setting name="Sample1" serializeAs="String">
        <value>Port1A0</value>
      </setting>
      <setting name="Sample2" serializeAs="String">
        <value>Port1A1</value>
      </setting>
      <setting name="Sample3" serializeAs="String">
        <value>Port1A2</value>
      </setting>
      <setting name="Sample4" serializeAs="String">
        <value>Port1A3</value>
      </setting>
      <setting name="MainWindowHeight" serializeAs="String">
        <value>625</value>
      </setting>
      <setting name="MainWindowWidth" serializeAs="String">
        <value>900</value>
      </setting>
      <setting name="MainWindowTop" serializeAs="String">
        <value>50</value>
      </setting>
      <setting name="MainWindowLeft" serializeAs="String">
        <value>50</value>
      </setting>
      <setting name="Sample5" serializeAs="String">
        <value />
      </setting>
      <setting name="Sample6" serializeAs="String">
        <value />
      </setting>
      <setting name="Sample7" serializeAs="String">
        <value />
      </setting>
      <setting name="Sample8" serializeAs="String">
        <value />
      </setting>
      <setting name="Sample9" serializeAs="String">
        <value />
      </setting>
      <setting name="Sample10" serializeAs="String">
        <value />
      </setting>
      <setting name="Sample11" serializeAs="String">
        <value />
      </setting>
      <setting name="Sample12" serializeAs="String">
        <value />
      </setting>
      <setting name="Sample13" serializeAs="String">
        <value />
      </setting>
      <setting name="Sample14" serializeAs="String">
        <value />
      </setting>
      <setting name="Sample15" serializeAs="String">
        <value />
      </setting>
      <setting name="Sample16" serializeAs="String">
        <value />
      </setting>
      <setting name="Sample17" serializeAs="String">
        <value />
      </setting>
      <setting name="Sample18" serializeAs="String">
        <value />
      </setting>
      <setting name="Sample19" serializeAs="String">
        <value />
      </setting>
      <setting name="Sample20" serializeAs="String">
        <value />
      </setting>
      <setting name="Sample21" serializeAs="String">
        <value />
      </setting>
      <setting name="Sample22" serializeAs="String">
        <value />
      </setting>
      <setting name="Sample23" serializeAs="String">
        <value />
      </setting>
      <setting name="Sample24" serializeAs="String">
        <value />
      </setting>
      <setting name="Sample25" serializeAs="String">
        <value />
      </setting>
      <setting name="Sample26" serializeAs="String">
        <value />
      </setting>
      <setting name="Sample27" serializeAs="String">
        <value />
      </setting>
      <setting name="Sample28" serializeAs="String">
        <value />
      </setting>
      <setting name="Sample29" serializeAs="String">
        <value />
      </setting>
      <setting name="Sample30" serializeAs="String">
        <value />
      </setting>
      <setting name="tempBoard" serializeAs="String">
        <value>3</value>
      </setting>
      <setting name="tempPort" serializeAs="String">
        <value>2</value>
      </setting>
      <setting name="dioBoard" serializeAs="String">
        <value>5</value>
      </setting>
      <setting name="temperatureFormatCelsius" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="switchDefaultClosed" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="secondsBeforeErrorTimeout" serializeAs="String">
        <value>60</value>
      </setting>
    </AdherentSampleOven.Properties.Settings>
  </userSettings>
  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <variable name="companyName" value="Adherent"/>
    <variable name="appTitle" value="AdherentSampleOven"/>
    <variable name="logFilePath" value="${specialfolder:folder=CommonApplicationData:file=${companyName}/${appTitle}_detailed_log.log}"/>
    <variable name="sampleLogFilePath" value="${specialfolder:folder=CommonApplicationData:file=${companyName}/${appTitle}_sample_log.log}"/>

    <targets async="true">
      <target name="file" xsi:type="File" fileName="${logFilePath}" layout="${longdate} ${level:upperCase=true}: ${message}${newline}(${stacktrace}) ${exception:format=ToString}"/>
      <target name="sampleFile" xsi:type="File" fileName="${sampleLogFilePath}" layout="${longdate} : ${message}"/>
      <target xsi:type="EventLog" name="eventLog" source="${appTitle}" layout="${message}${newline}${exception:format=tostring}"/>
    </targets>

    <targets>
      <target xsi:type="MessageBox" name="mbox" caption="Error" layout="An error has occurred. Please see the log file (${logFilePath}) or event log for more details."/>
    </targets>

    <rules>
      <logger name="SampleLogger" level="Info" writeTo="sampleFile"/>
      <logger name="*" level="Info" writeTo="file"/>
      <logger name="*" minlevel="Warn" writeTo="eventLog"/>
      <logger name="*" minlevel="Error" writeTo="mbox"/>
    </rules>
  </nlog>
</configuration>